Extra Credit: Tell us something interesting and true (supported by a significance test of some kind) about the
movies in this dataset that is not already covered by the questions above [for 5% of the grade score].

##1) Are movies that are more popular (operationalized as having more ratings) rated higher than movies that are less popular? [Hint: You can do a median-split of popularity to determine high vs. low popularity movies]

In [ ]:
#import packages
import pandas as pd
import numpy as np
import scipy.stats as stats

In [ ]:
#import file as movie data
movie_data = pd.read_csv("/content/movieReplicationSet.csv")

In [ ]:
#observe data attributes with the .describe() function
movie_data.describe()

       The Life of David Gale (2003)  ...  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
count                      76.000000  ...                                        1097.000000
mean                        2.151316  ...                                           0.533273
std                         1.166247  ...                                           0.542900
min                         0.000000  ...                                          -1.000000
25%                         1.000000  ...                                           0.000000
50%                         2.500000  ...                                           1.000000
75%                         3.000000  ...                                           1.000000
max                         4.000000  ...                                           1.000000

[8 rows x 477 columns]

In [ ]:
movies = movie_data.describe().iloc[[0,1,5],:400].T
print(movies)

                                           count      mean  50%
The Life of David Gale (2003)               76.0  2.151316  2.5
Wing Commander (1999)                       71.0  2.021127  2.0
Django Unchained (2012)                    453.0  3.153422  3.5
Alien (1979)                               289.0  2.707612  3.0
Indiana Jones and the Last Crusade (1989)  463.0  2.778618  3.0
...                                          ...       ...  ...
Patton (1970)                               61.0  2.278689  2.5
Anaconda (1997)                            198.0  2.295455  2.5
Twister (1996)                             174.0  2.402299  2.5
MacArthur (1977)                            61.0  2.114754  2.0
Look Who's Talking (1989)                  108.0  2.337963  2.5

[400 rows x 3 columns]

In [ ]:
#sort the dataframe by number of ratings
movies = movies.sort_values(by=['count'])
print(movies)

                            count      mean  50%
Best Laid Plans (1999)       54.0  2.046296  2.0
The Final Conflict (1981)    55.0  2.309091  2.5
FeardotCom (2002)            56.0  2.205357  2.0
Sexy Beast (2000)            56.0  2.232143  2.5
Stir Crazy (1980)            59.0  2.194915  2.5
...                           ...       ...  ...
Monsters  Inc.(2001)        927.0  3.352211  3.5
The Lion King (1994)        937.0  3.459979  3.5
Shrek 2 (2004)              965.0  2.825907  3.0
Shrek (2001)               1008.0  3.133929  3.5
Finding Nemo (2003)        1014.0  3.388067  3.5

[400 rows x 3 columns]

In [ ]:
# Split the dataframe into two by popularity with the iloc function where .iloc[rows that you want, columns that you want]
low_popularity = movies.iloc[:200,:]
high_popularity = movies.iloc[200:,:]

print("The number of movies in the less popular group is",low_popularity.shape[0])
print("The number of movies in the more popular group is",high_popularity.shape[0])
print("The maximum number of ratings in the less popular group is",low_popularity['count'].max())
print("The median number of ratings of all of the movies is",movies['count'].median())
print("The maximum number of ratings in the less popular group is",high_popularity['count'].min())

The number of movies in the less popular group is 200
The number of movies in the more popular group is 200
The maximum number of ratings in the less popular group is 197.0
The median number of ratings of all of the movies is 197.5
The maximum number of ratings in the less popular group is 198.0

In [ ]:
median_mean_low = low_popularity['mean'].to_numpy()
median_mean_high = high_popularity['mean'].to_numpy()
median_median_low = low_popularity['50%'].to_numpy()
median_median_high = high_popularity['50%'].to_numpy()

In [ ]:
median_of_means_low = low_popularity['mean'].median()
median_of_means_high = high_popularity['mean'].median()
median_of_medians_low = low_popularity['50%'].median()
median_of_medians_high = high_popularity['50%'].median()


print("The median rating of the means of the low popularity group is",median_of_means_low)
print("The median rating of the means of the high popularity group is",median_of_means_high)
print("The median rating of the medians of the low popularity group is",median_of_medians_low)
print("The median rating of the medians of the low popularity group is",median_of_medians_high)

The median rating of the means of the low popularity group is 2.4020422824302132
The median rating of the means of the high popularity group is 2.897327902081547
The median rating of the medians of the low popularity group is 2.5
The median rating of the medians of the low popularity group is 3.0

In [ ]:
median_of_means_statistic=stats.mannwhitneyu(median_mean_high, median_mean_low, alternative="greater")
median_of_medians_statistic= stats.mannwhitneyu(median_median_high, median_median_low, alternative="greater")
print("The p-value with regard to the median of means is",median_of_means_statistic[1])
print("The p-value with regard to the median of medians is",median_of_medians_statistic[1])

The p-value with regard to the median of means is 8.485716560078964e-41
The p-value with regard to the median of medians is 9.929258851707232e-35

Either way, the p-values are well below the alpha of 0.005 and so we can reject the null hypothesis and say that more popular movies are rated higher than less popular movies.

##2) Are movies that are newer rated differently than movies that are older? [Hint: Do a median split of year of release to contrast movies in terms of whether they are old or new]

In [ ]:
movie_data

      The Life of David Gale (2003)  ...  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0                               NaN  ...                                                  1
1                               NaN  ...                                                  0
2                               NaN  ...                                                  0
3                               NaN  ...                                                  1
4                               NaN  ...                                                  1
...                             ...  ...                                                ...
1092                            NaN  ...                                                  0
1093                            3.0  ...                                                  0
1094                            NaN  ...                                                  0
1095                            NaN  ...                                                  1
1096                            NaN  ...                                                  1

[1097 rows x 477 columns]

In [ ]:
movies = movie_data.iloc[:,:400]
movies = movies.rename(columns = {'Rambo: First Blood Part II': 'Rambo: First Blood Part II (1985)'})
movie_medians = movies.describe().iloc[[5],:]
movie_medians

     The Life of David Gale (2003)  ...  Look Who's Talking (1989)
50%                            2.5  ...                        2.5

[1 rows x 400 columns]

In [ ]:
# get titles
titles = movie_medians.columns

# make a list of nedians
medians=[]
for med in movie_medians.iloc[0,:]:
  medians.append(med)

# make a list of release years
years = []
for col in movie_medians.columns:
  years.append(col[-5:-1])

In [ ]:
movies_by_release = pd.DataFrame({'Release Year': years, 'Medians': medians},index=titles).sort_values(['Release Year'])
movies_by_release

                                      Release Year  Medians
Psycho (1960)                                 1960      3.0
The Good the Bad and the Ugly (1966)          1966      3.0
The Silencers (1966)                          1966      2.5
Who's Afraid of Virginia Woolf (1966)         1966      3.0
Thoroughly Modern Millie (1967)               1967      3.0
...                                            ...      ...
Captain America: Civil War (2016)             2016      3.5
Ouija: Origin of Evil (2016)                  2016      2.0
Split (2016)                                  2016      3.0
La La Land (2016)                             2016      3.5
Ghostbusters (2016)                           2016      2.5

[400 rows x 2 columns]

In [ ]:
movies_by_release.median().T

Release Year    1999.0
Medians            3.0
dtype: float64

In [ ]:
old_movies = movies_by_release.iloc[:197,:]
new_movies = movies_by_release.iloc[197:,:]

In [ ]:
print(old_movies.shape)
print(new_movies.shape)

(197, 2)
(203, 2)

In [ ]:
old_movies

                                      Release Year  Medians
Psycho (1960)                                 1960      3.0
The Good the Bad and the Ugly (1966)          1966      3.0
The Silencers (1966)                          1966      2.5
Who's Afraid of Virginia Woolf (1966)         1966      3.0
Thoroughly Modern Millie (1967)               1967      3.0
...                                            ...      ...
The Big Lebowski (1998)                       1998      3.0
Can't Hardly Wait (1998)                      1998      2.5
American History X (1998)                     1998      3.0
Saving Private Ryan (1998)                    1998      3.5
Armageddon (1998)                             1998      2.5

[197 rows x 2 columns]

In [ ]:
new_movies

                                             Release Year  Medians
Austin Powers: The Spy Who Shagged Me (1999)         1999      3.0
Sleepy Hollow (1999)                                 1999      2.5
Runaway Bride (1999)                                 1999      2.5
The Straight Story (1999)                            1999      2.5
Wild Wild West (1999)                                1999      2.0
...                                                   ...      ...
Captain America: Civil War (2016)                    2016      3.5
Ouija: Origin of Evil (2016)                         2016      2.0
Split (2016)                                         2016      3.0
La La Land (2016)                                    2016      3.5
Ghostbusters (2016)                                  2016      2.5

[203 rows x 2 columns]

In [ ]:
question_2 = stats.mannwhitneyu(new_movies['Medians'], old_movies['Medians'], alternative='two-sided')
print(question_2[1])

0.08873661144000093

In [ ]:
q2 = stats.ks_2samp(new_movies['Medians'], old_movies['Medians'], alternative='two-sided')
print(q2[1])

0.306660912941897

The p-value is above .005 so we fail to reject the null hypothesis.

##3) Is enjoyment of ‘Shrek (2001)’ gendered, i.e. do male and female viewers rate it differently?

In [ ]:
movie_data

      The Life of David Gale (2003)  ...  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0                               NaN  ...                                                  1
1                               NaN  ...                                                  0
2                               NaN  ...                                                  0
3                               NaN  ...                                                  1
4                               NaN  ...                                                  1
...                             ...  ...                                                ...
1092                            NaN  ...                                                  0
1093                            3.0  ...                                                  0
1094                            NaN  ...                                                  0
1095                            NaN  ...                                                  1
1096                            NaN  ...                                                  1

[1097 rows x 477 columns]

In [ ]:
Shrek= pd.DataFrame({'Shrek ratings':movie_data['Shrek (2001)'],'Gender':movie_data['Gender identity (1 = female; 2 = male; 3 = self-described)']})
Shrek

      Shrek ratings  Gender
0               3.0     1.0
1               3.0     1.0
2               3.5     1.0
3               0.5     1.0
4               3.0     1.0
...             ...     ...
1092            3.0     1.0
1093            4.0     1.0
1094            3.5     1.0
1095            2.5     1.0
1096            2.0     1.0

[1097 rows x 2 columns]

In [ ]:
#Clean out 3's for Gender and null values in either the gender or ratings columns
Shrek = Shrek[(Shrek['Gender'] != 3.0) & (Shrek['Shrek ratings'].isnull() != True) & (Shrek['Gender'].isnull() != True)]

In [ ]:
print(Shrek)

      Shrek ratings  Gender
0               3.0     1.0
1               3.0     1.0
2               3.5     1.0
3               0.5     1.0
4               3.0     1.0
...             ...     ...
1092            3.0     1.0
1093            4.0     1.0
1094            3.5     1.0
1095            2.5     1.0
1096            2.0     1.0

[984 rows x 2 columns]

In [ ]:
female = Shrek[(Shrek['Gender'] == 1.0)]
male = Shrek[(Shrek['Gender'] == 2.0)]
print(male)
print(female)

      Shrek ratings  Gender
9               4.0     2.0
13              3.0     2.0
15              3.5     2.0
19              2.0     2.0
22              3.0     2.0
...             ...     ...
1082            4.0     2.0
1084            1.0     2.0
1088            2.5     2.0
1089            3.0     2.0
1090            3.0     2.0

[241 rows x 2 columns]
      Shrek ratings  Gender
0               3.0     1.0
1               3.0     1.0
2               3.5     1.0
3               0.5     1.0
4               3.0     1.0
...             ...     ...
1092            3.0     1.0
1093            4.0     1.0
1094            3.5     1.0
1095            2.5     1.0
1096            2.0     1.0

[743 rows x 2 columns]

In [ ]:
q3mwu = stats.mannwhitneyu(male['Shrek ratings'], female['Shrek ratings'], alternative= 'two-sided')
q3mwu

MannwhitneyuResult(statistic=82232.5, pvalue=0.050536625925559006)

In [ ]:
q3ks = stats.ks_2samp(new_movies['Medians'], old_movies['Medians'], alternative='two-sided', mode='auto')
print(q3ks)

Ks_2sampResult(statistic=0.09447125603260734, pvalue=0.306660912941897)

The test statistic is well above the cutoff level of 0.005 so we cannot reject the null hypothesis.

##4) What proportion of movies are rated differently by male and female viewers?

In [ ]:
movie_data

      The Life of David Gale (2003)  ...  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0                               NaN  ...                                                  1
1                               NaN  ...                                                  0
2                               NaN  ...                                                  0
3                               NaN  ...                                                  1
4                               NaN  ...                                                  1
...                             ...  ...                                                ...
1092                            NaN  ...                                                  0
1093                            3.0  ...                                                  0
1094                            NaN  ...                                                  0
1095                            NaN  ...                                                  1
1096                            NaN  ...                                                  1

[1097 rows x 477 columns]

In [ ]:
# code for running a mann whitney u test on each movie to compare male and female ratings
x=[]

for movie_title in movie_data.columns[:400]:

  cleaned_df = movie_data[(movie_data[movie_title].isnull() != True) & (movie_data['Gender identity (1 = female; 2 = male; 3 = self-described)'].isnull() != True) & (movie_data['Gender identity (1 = female; 2 = male; 3 = self-described)'] != 3.0)]
  female_viewers = cleaned_df[(cleaned_df['Gender identity (1 = female; 2 = male; 3 = self-described)'] == 1.0)]
  male_viewers = cleaned_df[(cleaned_df['Gender identity (1 = female; 2 = male; 3 = self-described)'] == 2.0)]

  #perform mannwhitneyu test
  mwu = stats.mannwhitneyu(female_viewers[movie_title], male_viewers[movie_title], alternative = 'two-sided')
  if mwu[1] < .005:
    x.append(1)
  else:
    x.append(0)

print(x)

[0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0]

In [ ]:
ratio = x.count(1)/400
print(ratio,"percent of movies are rated differently by men and women!")

0.125 percent of movies are rated differently by men and women!

In [ ]:
#above code with running both a mann whitney u and a ks test
y=[]

for movie_title in movie_data.columns[:400]:

  cleaned_df = movie_data[(movie_data[movie_title].isnull() != True) & (movie_data['Gender identity (1 = female; 2 = male; 3 = self-described)'].isnull() != True) & (movie_data['Gender identity (1 = female; 2 = male; 3 = self-described)'] != 3.0)]
  female_viewers = cleaned_df[(cleaned_df['Gender identity (1 = female; 2 = male; 3 = self-described)'] == 1.0)]
  male_viewers = cleaned_df[(cleaned_df['Gender identity (1 = female; 2 = male; 3 = self-described)'] == 2.0)]

  #perform mannwhitneyu test
  mwu = stats.mannwhitneyu(female_viewers[movie_title], male_viewers[movie_title], alternative = 'two-sided')
  ks = stats.ks_2samp(female_viewers[movie_title], male_viewers[movie_title], alternative = 'two-sided')

  if mwu[1] < .005:
    y.append(1)
  elif ks[1] < .005:
    y.append(1)
  else:
    y.append(0)

print(y)

[0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0]

In [ ]:
ratio = y.count(1)/400
print(ratio,"percent of movies are rated differently by men and women!")

0.125 percent of movies are rated differently by men and women!

##5) Do people who are only children enjoy ‘The Lion King (1994)’ more than people with siblings?

In [ ]:
movie_data

      The Life of David Gale (2003)  ...  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0                               NaN  ...                                                  1
1                               NaN  ...                                                  0
2                               NaN  ...                                                  0
3                               NaN  ...                                                  1
4                               NaN  ...                                                  1
...                             ...  ...                                                ...
1092                            NaN  ...                                                  0
1093                            3.0  ...                                                  0
1094                            NaN  ...                                                  0
1095                            NaN  ...                                                  1
1096                            NaN  ...                                                  1

[1097 rows x 477 columns]

In [ ]:
lion_king = movie_data[['The Lion King (1994)','Are you an only child? (1: Yes; 0: No; -1: Did not respond)']]
lion_king

      The Lion King (1994)  Are you an only child? (1: Yes; 0: No; -1: Did not respond)
0                      4.0                                                  0
1                      NaN                                                  0
2                      4.0                                                  1
3                      3.0                                                  0
4                      4.0                                                  1
...                    ...                                                ...
1092                   3.5                                                  0
1093                   3.5                                                  0
1094                   NaN                                                  0
1095                   NaN                                                  0
1096                   4.0                                                  0

[1097 rows x 2 columns]

In [ ]:
#clean dataframe
lion_king = lion_king[(lion_king['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] != -1) & (lion_king['The Lion King (1994)'].isnull() != True)]
lion_king

      The Lion King (1994)  Are you an only child? (1: Yes; 0: No; -1: Did not respond)
0                      4.0                                                  0
2                      4.0                                                  1
3                      3.0                                                  0
4                      4.0                                                  1
5                      4.0                                                  1
...                    ...                                                ...
1090                   3.5                                                  0
1091                   4.0                                                  0
1092                   3.5                                                  0
1093                   3.5                                                  0
1096                   4.0                                                  0

[927 rows x 2 columns]

In [ ]:
#separate into two dataframes
only_children = lion_king[(lion_king['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] == 1)]
only_children

      The Lion King (1994)  Are you an only child? (1: Yes; 0: No; -1: Did not respond)
2                      4.0                                                  1
4                      4.0                                                  1
5                      4.0                                                  1
22                     3.5                                                  1
33                     3.5                                                  1
...                    ...                                                ...
1058                   3.0                                                  1
1068                   3.5                                                  1
1075                   4.0                                                  1
1076                   3.5                                                  1
1088                   3.0                                                  1

[151 rows x 2 columns]

In [ ]:
has_siblings = lion_king[(lion_king['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] == 0)]
has_siblings

      The Lion King (1994)  Are you an only child? (1: Yes; 0: No; -1: Did not respond)
0                      4.0                                                  0
3                      3.0                                                  0
6                      3.5                                                  0
7                      4.0                                                  0
8                      4.0                                                  0
...                    ...                                                ...
1090                   3.5                                                  0
1091                   4.0                                                  0
1092                   3.5                                                  0
1093                   3.5                                                  0
1096                   4.0                                                  0

[776 rows x 2 columns]

In [ ]:
q5= stats.mannwhitneyu(only_children['The Lion King (1994)'], has_siblings['The Lion King (1994)'], alternative = 'greater')
q5

MannwhitneyuResult(statistic=4313.0, pvalue=0.9995649491424893)

In [ ]:
q5_ks= stats.ks_2samp(only_children['The Lion King (1994)'], has_siblings['The Lion King (1994)'], alternative = 'greater')
q5_ks

Ks_2sampResult(statistic=0.09913292824469175, pvalue=0.07728363100975702)

The p-value is greater than .005 so we cannot reject the null hypothesis. We cannot say that people who are only children enjoy the Lion King more than people who have siblings.

##6) What proportion of movies exhibit an “only child effect”, i.e. are rated different by viewers with siblings vs. those without?

In [ ]:
movie_data

      The Life of David Gale (2003)  ...  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0                               NaN  ...                                                  1
1                               NaN  ...                                                  0
2                               NaN  ...                                                  0
3                               NaN  ...                                                  1
4                               NaN  ...                                                  1
...                             ...  ...                                                ...
1092                            NaN  ...                                                  0
1093                            3.0  ...                                                  0
1094                            NaN  ...                                                  0
1095                            NaN  ...                                                  1
1096                            NaN  ...                                                  1

[1097 rows x 477 columns]

In [ ]:
#running both a mann whitney u and a ks test
y=[]

for movie_title in movie_data.columns[:400]:

  cleaned_df = movie_data[(movie_data[movie_title].isnull() != True) & (movie_data['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] != -1)]
  only_children = cleaned_df[(cleaned_df['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] == 1.0)]
  have_siblings = cleaned_df[(cleaned_df['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] == 0.0)]

  #perform mannwhitneyu test
  mwu = stats.mannwhitneyu(only_children[movie_title], have_siblings[movie_title], alternative = 'two-sided')
  ks = stats.ks_2samp(only_children[movie_title], have_siblings[movie_title], alternative = 'two-sided')

  if mwu[1] < .005:
    y.append(1)
  elif ks[1] < .005:
    y.append(1)
  else:
    y.append(0)

print(y)
print(len(y))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
400

In [ ]:
ratio = y.count(1)/400
print(ratio,'percent of movies exhibit an only child effect!')

0.02 percent of movies exhibit an only child effect!

##7) Do people who like to watch movies socially enjoy ‘The Wolf of Wall Street (2013)’ more than those who prefer to watch them alone?

In [ ]:
wolf = movie_data[['The Wolf of Wall Street (2013)','Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)']]
wolf

      The Wolf of Wall Street (2013)  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0                                NaN                                                  1
1                                NaN                                                  0
2                                NaN                                                  0
3                                4.0                                                  1
4                                3.0                                                  1
...                              ...                                                ...
1092                             NaN                                                  0
1093                             3.5                                                  0
1094                             2.0                                                  0
1095                             NaN                                                  1
1096                             4.0                                                  1

[1097 rows x 2 columns]

In [ ]:
#clean dataframe
wolf = wolf[(wolf['The Wolf of Wall Street (2013)'].isnull() != True) & (wolf['Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)'] != -1)]
wolf

      The Wolf of Wall Street (2013)  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
3                                4.0                                                  1
4                                3.0                                                  1
5                                2.5                                                  0
6                                1.0                                                  0
7                                3.5                                                  1
...                              ...                                                ...
1087                             4.0                                                  0
1090                             4.0                                                  1
1093                             3.5                                                  0
1094                             2.0                                                  0
1096                             4.0                                                  1

[663 rows x 2 columns]

In [ ]:
lonely_viewers = wolf[(wolf['Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)'] == 1)]
lonely_viewers

      The Wolf of Wall Street (2013)  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
3                                4.0                                                  1
4                                3.0                                                  1
7                                3.5                                                  1
8                                3.5                                                  1
9                                3.0                                                  1
...                              ...                                                ...
1078                             3.5                                                  1
1080                             4.0                                                  1
1086                             3.5                                                  1
1090                             4.0                                                  1
1096                             4.0                                                  1

[393 rows x 2 columns]

In [ ]:
not_lonely_viewers = wolf[(wolf['Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)'] == 0)]
not_lonely_viewers

      The Wolf of Wall Street (2013)  Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
5                                2.5                                                  0
6                                1.0                                                  0
12                               3.5                                                  0
14                               4.0                                                  0
18                               4.0                                                  0
...                              ...                                                ...
1082                             4.0                                                  0
1085                             4.0                                                  0
1087                             4.0                                                  0
1093                             3.5                                                  0
1094                             2.0                                                  0

[270 rows x 2 columns]

In [ ]:
q7 = stats.mannwhitneyu(not_lonely_viewers['The Wolf of Wall Street (2013)'], lonely_viewers['The Wolf of Wall Street (2013)'], alternative = 'greater')
print('The p-value is', q7[1])

The p-value is 0.9436657996253056

In [ ]:
q7=stats.ks_2samp(not_lonely_viewers['The Wolf of Wall Street (2013)'], lonely_viewers['The Wolf of Wall Street (2013)'], alternative= 'greater')
q7

Ks_2sampResult(statistic=0.06420695504664971, pvalue=0.2532536393087908)

The p-value is much bigger than 0.005 so we cannot reject the null hypothesis. We cannot say that social viewers rate The Wolf of Wall Street higher than those who prefer to watch them alone.

##8) What proportion of movies exhibit such a “social watching” effect?

In [ ]:
#running both a mann whitney u and a ks test
y=[]

for movie_title in movie_data.columns[:400]:

  cleaned_df = movie_data[(movie_data[movie_title].isnull() != True) & (movie_data['Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)'] != -1)]
  lonely = cleaned_df[(cleaned_df['Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)'] == 1.0)]
  social = cleaned_df[(cleaned_df['Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)'] == 0.0)]

  #perform mannwhitneyu test
  mwu = stats.mannwhitneyu(social[movie_title], lonely[movie_title], alternative = 'greater')
  ks = stats.ks_2samp(social[movie_title], lonely[movie_title], alternative = 'greater')

  if mwu[1] < .005:
    y.append(1)
  elif ks[1] < .005:
    y.append(1)
  else:
    y.append(0)

print(y)
print(len(y))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
400

In [ ]:
ratio = y.count(1)/len(y)
print(ratio,"percent of movies exhibit such a social watching effect, where more social viewers rate a movie higher than viewers who watched alone.")

0.0175 percent of movies exhibit such a social watching effect, where more social viewers rate a movie higher than viewers who watched alone.

##9) Is the ratings distribution of ‘Home Alone (1990)’ different than that of ‘Finding Nemo (2003)’?

In [ ]:
movies = movie_data[['Home Alone (1990)',"Finding Nemo (2003)"]]
print(movies)

      Home Alone (1990)  Finding Nemo (2003)
0                   4.0                  3.5
1                   4.0                  4.0
2                   4.0                  3.5
3                   1.5                  2.5
4                   2.0                  2.5
...                 ...                  ...
1092                NaN                  2.5
1093                3.5                  4.0
1094                NaN                  1.5
1095                NaN                  4.0
1096                3.0                  4.0

[1097 rows x 2 columns]

In [ ]:
movies_cleaned = movies[(movies['Home Alone (1990)'].isnull() != True) & (movies['Finding Nemo (2003)'].isnull() != True)]
print(movies_cleaned)

      Home Alone (1990)  Finding Nemo (2003)
0                   4.0                  3.5
1                   4.0                  4.0
2                   4.0                  3.5
3                   1.5                  2.5
4                   2.0                  2.5
...                 ...                  ...
1087                3.5                  4.0
1090                2.5                  3.5
1091                3.5                  4.0
1093                3.5                  4.0
1096                3.0                  4.0

[810 rows x 2 columns]

In [ ]:
#run ks test
q9_ks = stats.ks_2samp(movies_cleaned['Finding Nemo (2003)'],movies_cleaned['Home Alone (1990)'])
print('The p value is',q9_ks[1],', which is below our alpha of 0.005. Thus, we can reject the null hypothesis in favor of the alternative hypothesis. That being that Finding Nemo and Home Alone were rated differently.')

The p value is 2.2038507937682687e-10 , which is below our alpha of 0.005. Thus, we can reject the null hypothesis in favor of the alternative hypothesis. That being that Finding Nemo and Home Alone were rated differently.

##10) There are ratings on movies from several franchises ([‘Star Wars’, ‘Harry Potter’, ‘The Matrix’, ‘Indiana Jones’, ‘Jurassic Park’, ‘Pirates of the Caribbean’, ‘Toy Story’, ‘Batman’]) in this dataset. How many of these are of inconsistent quality, as experienced by viewers? [Hint: You can use the keywords in quotation marks featured in this question to identify the movies that are part of each franchise]

In [ ]:
series_dict = {"Star Wars":[],"Harry Potter":[],"The Matrix":[], 'Indiana Jones':[], 'Jurassic Park':[], 'Pirates of the Caribbean':[], 'Toy Story':[], 'Batman':[]}
for movie in series_dict.keys():
  for col in movie_data.columns:
    if movie in col:
      series_dict[movie].append(col)

print(series_dict)

{'Star Wars': ['Star Wars: Episode IV - A New Hope (1977)', 'Star Wars: Episode II - Attack of the Clones (2002)', 'Star Wars: Episode V - The Empire Strikes Back (1980)', 'Star Wars: Episode 1 - The Phantom Menace (1999)', 'Star Wars: Episode VII - The Force Awakens (2015)', 'Star Wars: Episode VI - The Return of the Jedi (1983)'], 'Harry Potter': ["Harry Potter and the Sorcerer's Stone (2001)", 'Harry Potter and the Deathly Hallows: Part 2 (2011)', 'Harry Potter and the Goblet of Fire (2005)', 'Harry Potter and the Chamber of Secrets (2002)'], 'The Matrix': ['The Matrix Revolutions (2003)', 'The Matrix Reloaded (2003)', 'The Matrix (1999)'], 'Indiana Jones': ['Indiana Jones and the Last Crusade (1989)', 'Indiana Jones and the Temple of Doom (1984)', 'Indiana Jones and the Raiders of the Lost Ark (1981)', 'Indiana Jones and the Kingdom of the Crystal Skull (2008)'], 'Jurassic Park': ['The Lost World: Jurassic Park (1997)', 'Jurassic Park III (2001)', 'Jurassic Park (1993)'], 'Pirates of the Caribbean': ["Pirates of the Caribbean: Dead Man's Chest (2006)", "Pirates of the Caribbean: At World's End (2007)", 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)'], 'Toy Story': ['Toy Story 2 (1999)', 'Toy Story 3 (2010)', 'Toy Story (1995)'], 'Batman': ['Batman & Robin (1997)', 'Batman (1989)', 'Batman: The Dark Knight (2008)']}

In [ ]:
for series_title in series_dict.keys():
  KW = stats.kruskal(*[movie_data[x] for x in series_dict[series_title]], nan_policy = 'omit')
  if KW[1] < .005:
    print('The p-value is',KW[1],'which is below .005. The',series_title,'movies are not of consistent quality.')
  else:
    print('The p-value is',KW[1],'this is greater than/equal to .005. The', series_title,'movies are of consistent quality!')

The p-value is 8.01647736660335e-48 which is below .005. The Star Wars movies are not of consistent quality.
The p-value is 0.34331950837289205 this is greater than/equal to .005. The Harry Potter movies are of consistent quality!
The p-value is 3.1236517880781424e-11 which is below .005. The The Matrix movies are not of consistent quality.
The p-value is 6.27277563979608e-10 which is below .005. The Indiana Jones movies are not of consistent quality.
The p-value is 7.636930084362221e-11 which is below .005. The Jurassic Park movies are not of consistent quality.
The p-value is 3.2901287079094474e-05 which is below .005. The Pirates of the Caribbean movies are not of consistent quality.
The p-value is 5.065805156537524e-06 which is below .005. The Toy Story movies are not of consistent quality.
The p-value is 4.2252969509030006e-42 which is below .005. The Batman movies are not of consistent quality.

##Extra Credit: Tell us something interesting and true (supported by a significance test of some kind) about the movies in this dataset that is not already covered by the questions above [for 5% of the grade score].